<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
        <meta name="keywords" content="gameofzones, goz, foursquare, foursquare game, django, game of zones, axte, axterciyo, David Casas Molina, David Casas, CUSL VI, CUSL 6, UCA, Universidad de Cádiz" />
        <meta name="description" content="Conquer whatever you want! or...whatever you can..."/>
        {% block extrameta %}
        {% endblock %}

        <title>Game of Zones - Conquer whatever you want! or...whatever you can...</title>
        {% comment %} <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/gif" /> {% endcomment %}

        {% block cssstyles %}
        {% load static %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="all" type="text/css"/>
        <link href="{% static "css/styles.css" %}" rel="stylesheet" media="all" type="text/css"/>
        {% block extracss %}
        {% endblock %}
        {% endblock %}

        {% block jsscripts %}
        <!-- Children should overwrite this block -->
        {% block extrajs %}
        {% endblock %}
        {% endblock %}
    </head>
    <body dir="ltr" {% block extrabodytag %}{% endblock %}>
        {% block bodywrapper %}
        <div id="header" class="row-fluid">
            {% block header %}
            {% include "header.html" %}
            {% block extraheader %}
            {% endblock %}
            {% endblock %}
        </div>
        <div id="content-wrapper" class="row-fluid">
            <div class="span12">
                {% block contentbody %}
                {% endblock %}
            </div>
        </div>
        <div id="footer" class="row-fluid">
            {% block footer %}
            {% include "footer.html" %}
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>

