
{% extends "base.html" %}

{% block jsscripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLcBr2X0VPuwnHKAxz3P1Y4N4h8IM13zA&sensor=false"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/tparkin/Google-Maps-Point-in-Polygon/master/maps.google.polygon.containsLatLng.js"></script>
{% block extrajs %}
<script type="text/javascript">
    // Variable with actions which handles the key.
    var actions = {
        open: function() {
            $('#container-key').slideDown('slow');
            $('#key-open').css('display','none');
            $('#key-close').css('display','block');
        },
        close: function() {
            $('#container-key').slideUp('slow');
            $('#key-open').css('display','block');
            $('#key-close').css('display','none');
        }
    }

    // Function which starts when the page loads.
    function initialize() {
        // Create the map.
        var myOptions = {
            zoom: 13,
            center: new google.maps.LatLng(36.510878, -6.31731),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);

        // Import python string to javascript objects array.
        //

        // Variables which store objects (zones and InfoWindows).
        var zones = [];
        var arrZones = [];
        var arrInfoWindows = [];
        var arrInfoWindows2 = []; // CAMBIAR ESTOOOOOOOOOOOOOOOOOOOOO

        // Function that processes the JSON file.
        {% load static %}
        $.getJSON('{% static "data/zones.json" %}', function(data) {
            // Plot the polygons (zones)
            $.each(data.lines, function(i, item) {
                // Variable to store the points for each zone.
                var points = [];
                // Make the points in Google Maps format.
                $.each(item.points, function(j, point) {
                    points.push(new google.maps.LatLng(point.lat, point.lng));
                });
                // Create the polygon with the propierties and set it in the map.
                var zone = new google.maps.Polygon({
                    paths: points,
                    strokeColor: item.colour,
                    strokeOpacity: 1,
                    strokeWeight: item.width,
                    fillColor: "#008800",
                    fillOpacity: 0.2
                });
                zone.setMap(map);
                // Store the zone in the array.
                arrZones.push(zone);
            });
        });

        // Get the JSON from API to plot the markers.
        $.getJSON('http://localhost:8000/apirest/zones', function(data){
            $.each(data, function(i, zone) {
                var venues = []
                $.each(zone.venues, function(j, venue){
                    // Create the marker.
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(venue.lat, venue.lon),
                        map: map,
                        title: venue.name,
                        visible: false,
                        icon: 'http://labs.google.com/ridefinder/images/mm_20_green.png'
                    });
                    // Set up the event window.
                    var infoWindow = new google.maps.InfoWindow({
                        content: '<img style="float:left;" src="https://foursquare.com/img/categories_v2/'+ venue.categorie.icon +'" title="' + venue.categorie.name + '" alt="' + venue.categorie.name + '">' + '<h3>' + marker.title + '</h3><a href="http://4sq.com/' + venue.foursquare_url + '" target="_blank"><p>ver en Foursquare</p></a>'
                    });
                    // Store the venue in the array with all the properties.
                    venues.push({
                        'id': venue.id,
                        'name': venue.name,
                        'lat': venue.lat,
                        'lon': venue.lon,
                        'foursquare_url': venue.foursquare_url,
                        'categorie': {
                            'name': venue.categorie.name,
                            'icon': venue.categorie.icon
                        },
                        'zone': venue.zone,
                        'marker': marker,
                        'infowindow': infoWindow
                    });
                    // Add event for each event window.
                    google.maps.event.addListener(marker, 'click', function() {
                        // When a event window is opened, all others are closed.
                        for(var j=0; j<arrInfoWindows.length; j++) { arrInfoWindows[j].close(); }
                        arrInfoWindows.push(infoWindow);
                        infoWindow.open(map, marker);
                    });
                });
                // Store the zone in the array.
                zones.push({
                    'id': zone.id,
                    'name': zone.name,
                    'venues': venues,
                    'king': {
                        'name': zone.king.first_name + ' ' + zone.king.last_name,
                        'gender': zone.king.gender,
                        'photo': zone.king.photo,
                        'city': zone.king.city
                    },
                    'polygon': arrZones[i]
                });
            });
            // Throw listeners for different events.
            handleEvent(map, zones, arrInfoWindows);
        });

/*        // For each checkin plot a marker.
        $.each(database, function(i, marker) {
            // Create the marker
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(database[i].fields.venue.lat,database.checkins[i].venue.lon),
                map: map,
                title: database.checkins[i].venue.name
            });
            // Store the marker in its array
            arrCheckins[i] = marker;

            // Set up the event window for the marker
            var infowindow = new google.maps.InfoWindow({
                content: "<h3>" + marker.title + "</h3><p>" + database.checkins[i].num_checkins + " veces</p>"
            });
            // Store the event window too
            arrInfoWindows2[i] = infowindow;
            // Add a listener to control the event
            google.maps.event.addListener(marker, 'click', function() {
                // Before open the info window, close all other
                for(x=0; x < arrInfoWindows2.length; x++){ arrInfoWindows2[x].close(); }
                infowindow.open(map, marker);
            });
        });
*/

        google.maps.event.addListener(map, 'zoom_changed', function() {
            if(map.getZoom()<14) {
                handleEvent(map, zones, arrInfoWindows);
            }
        });
    }

    // Function which handles the events throwing listeners.
    function handleEvent(map, zones, arrInfoWindows) {
        var arrMouseOver = [];
        var arrMouseOut = [];
        var arrClick = [];
        var time;

        // Close all the InfoWindows which are opened.
        for(var i=0; i<arrInfoWindows.length; i++){ arrInfoWindows[i].close(); }

        for(var i=0; i<zones.length; i++) {
            // Hide all the markers and set the default opacity when is zooming out.
            for(var j=0; j<zones[i].venues.length; j++) {zones[i].venues[j].marker.setVisible(false);}
            zones[i]['polygon'].setOptions({fillOpacity: 0.2});

            // Add listeners for 'mouseover'.
            arrMouseOver[i] = google.maps.event.addListener(zones[i]['polygon'],"mouseover", function() {
                // Set the opacity to 0.7.
                this.setOptions({fillOpacity: 0.7});

                // Set zone center passing each point of the polygon to a LatLngBounds objects through the extend() method.
                var path = this.getPath().getArray();
                var bounds = new google.maps.LatLngBounds();
                for(var j=0; j<path.length; j++) { bounds.extend(path[j]); }
                // Create a InfoWindow using getCenter() method on the LatLngBounds object and show it.
                var index;
                for(var j=0; j<zones.length; j++) {
                    if(zones[j]['polygon']==this) { index = j; }
                }
                var infoWindow = new google.maps.InfoWindow({
                    content:'<img style="float:left;" src="https://is1.4sqi.net/userpix_thumbs'
                            + zones[index].king.photo +'" title="' + zones[index].king.name
                            + '" alt="' + zones[index].king.name + '">' + '<h3>'
                            + zones[index].king.name + '</h3><p>'
                            + zones[index].king.city + '</p>',
                    position: bounds.getCenter(),
                });
                arrInfoWindows.push(infoWindow);
                time = setTimeout(function(){infoWindow.open(map)},1000);
            });

            // Add listeners for 'mouseout'.
            arrMouseOut[i] = google.maps.event.addListener(zones[i]['polygon'],"mouseout", function() {
                // Clear time variable.
                clearTimeout(time);
                // Close all the InfoWindows which are opened.
                for(var j=0; j<arrInfoWindows.length; j++){ arrInfoWindows[j].close(); }
                // Set the opacity to 0.2.
                this.setOptions({fillOpacity: 0.2});
            });

            // Add listeners for 'click'.
            arrClick = google.maps.event.addListener(zones[i]['polygon'],"click", function(event) {
                // Clear time variable.
                clearTimeout(time);
                // Close all the InfoWindows which are opened.
                for(var j=0; j<arrInfoWindows.length; j++){ arrInfoWindows[j].close(); }
                // Zoom in.
                map.setZoom(16);
                // Set zone center passing each point of the polygon to a LatLngBounds objects through the extend() method.
                var path = this.getPath().getArray();
                var bounds = new google.maps.LatLngBounds();
                for(var j=0; j<path.length; j++) { bounds.extend(path[j]); }
                // Finally call the getCenter() method on the LatLngBounds object.
                map.panTo(bounds.getCenter());
                map.panBy(-100,0);

                // Remove MouseOver and MouseOut listeners, set fillOpacity to 0.7 except 'this' and show the markers of this zone.
                for(var j=0; j<zones.length; j++) {
                    // Set fillOpacity to 0.7.
                    zones[j]['polygon'].setOptions({fillOpacity: 0.7});
                    // Remove MouseOver and MouseOut listeners.
                    google.maps.event.removeListener(arrMouseOver[j]);
                    google.maps.event.removeListener(arrMouseOut[j]);
                    // Show the markers of this zone.
                    if(zones[j]['polygon'].containsLatLng(event.latLng)) {
                        for(var k=0; k<zones[j].venues.length; k++) { zones[j].venues[k].marker.setVisible(true); }
                    }
                    else {
                        for(var k=0; k<zones[j].venues.length; k++) { zones[j].venues[k].marker.setVisible(false); }
                    }
                }
                // Set 'this' zone fillOpacity to 0.2.
                this.setOptions({fillOpacity: 0.2});
            });
        }
    }
</script>
{% endblock %}
{% endblock %}

{% block extrabodytag  %}onload="initialize()"{% endblock %}

{% block contentbody %}
<div id="map"></div>
<div id="key-close" onclick="javascript:actions.close()">
    <img class="arrow" src="{{ STATIC_URL }}img/arrow-up2.png" alt="Close"/>
</div>
<div id="key-open" onclick="javascript:actions.open()">
    <img class="arrow" src="{{ STATIC_URL }}img/arrow-down2.png" alt="Open"/>
</div>
<div id="container-key">
    <div class="row">
        <div class="span6 key">
            <div class="key-item">
                <div class="search position">
                    <legend>Hola {{database.1.first_name}} {{database.1.last_name}}</legend>
                    <a href="https://is1.4sqi.net/userpix{{database.1.photo}}"><img src="https://is1.4sqi.net/userpix_thumbs{{database.1.photo}}" title="{{database.1.first_name}} {{database.1.last_name}}" alt="{{database.1.first_name}} {{database.1.last_name}}"></a>
                    <ul>
                        {% for item in checkins  %}
                        <li>{{item.venue.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <p class="inputRow">
                    <input class="button" type="submit" value="Botón" />
                </p>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'oauth_unauth' %}">Logout</a>{% endblock %}
